@import "../../../styles/variables.scss";

.usuario-section {
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;

  .form-div {
    margin: 20px;
    background-color: var(--primary-color);
    width: 400px;
    border-radius: 20px;
    border: 1.5px solid var(--accent-color);

    .usuario-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      gap: 10px;

      input {
        border-radius: 20px;
        background-color: var(--secondary-color);
        border: 1.5px solid var(--accent-color);
        color: var(--font-color);
        height: 20px;
        font-size: 17px;
        font-family: $fonte-princpial;
        padding: 7px 9px;
        outline: none;
      }

      input::placeholder {
        color: var(--font-color);
      }

      button {
        margin-top: 10px;
        border-radius: 20px;
        font-size: 15px;
        font-family: $fonte-princpial;
        padding: 3px 10px;
        outline: none;
        border: 1.5px solid var(--accent-color);
        background-color: var(--button-color);
        color: var(--primary-color);
        cursor: pointer;
      }
    }
  }

  .cards-usuarios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }


}
