<section class="usuario-section">
  <div class="form-div">
    <form class="usuario-form" (ngSubmit)="registrarUsuario()">
      <input type="text" name="name" placeholder="Nome" [(ngModel)]="usuario.nome" required>
      <input type="email" name="email" placeholder="Email" [(ngModel)]="usuario.email" required>
      <button type="submit">Registrar Usuário</button>
    </form>
  </div>

  <div class="cards-usuarios">
    <app-card-usuario
      *ngFor="let usuario of usuarios"
      [usuario]="usuario"
      (usuarioDeletado)="deletarUsuario($event)">
    </app-card-usuario>
  </div>

</section>
