@import "../../../styles/variables.scss";

.produto-section {
  min-height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  .form-div {
    display: inline-block;
    margin: 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 1.5px solid var(--accent-color);
    .produto-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
      gap: 10px;
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .nome-descricao {
          display: flex;
          flex-direction: row;
          gap: 10px;
          .nome {
            width: 150px;
          }
          .preco {
            width: 90px;
          }
          .quantidade {
            width: 145px;
          }
        }
        .preco-quantidade {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .bottom {
          }
        }
      }
      input {
        border-radius: 20px;
        background-color: var(--secondary-color);
        border: 1.5px solid var(--accent-color);
        color: var(--font-color);
        height: 20px;
        font-size: 17px;
        font-family: $fonte-princpial;
        padding: 7px 9px;
        outline: none;
      }
      input::placeholder {
        color: var(--font-color);
      }
      textarea {
        border-radius: 20px;
        background-color: var(--secondary-color);
        border: 1.5px solid var(--accent-color);
        color: var(--font-color);
        height: 20px;
        font-size: 17px;
        font-family: $fonte-princpial;
        padding: 7px 9px;
        outline: none;
        resize: none;
      }
      textarea::placeholder {
        color: var(--font-color);
      }
      button {
        margin-top: 10px;
        border-radius: 20px;
        font-size: 15px;
        font-family: $fonte-princpial;
        padding: 3px 10px;
        outline: none;
        border: 1.5px solid var(--accent-color);
        background-color: var(--button-color);
        color: var(--primary-color);
        cursor: pointer;
      }
    }
  }
  .cards-produtos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 580px) {
  .produto-section {
    .form-div {
      transform: scale(0.65);
    }
    .cards-produtos {
      gap: 0;
    }
  }
}
