:root {
  --primary-color: #fafafa;
  --secondary-color: #e4e4e4;
  --font-color: #2b2b2b;
  --accent-color: #232323;
  --button-color: dodgerblue;
}

body.light-theme {
  --primary-color: #fafafa;
  --secondary-color: #e4e4e4;
  --font-color: #2b2b2b;
  --accent-color: #232323;
  --button-color: dodgerblue;
}

body.dark-theme {
  --primary-color: #252525;
  --secondary-color: #515151;
  --font-color: #d2d3db;
  --accent-color: #979696;
  --button-color: #0092ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

